/* 768, 1366 */
body {
  margin: 0;
}

* {
  font-size: xx-large;
  color: purple;
}

h1 {
  font-size: xxx-large;
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}

a, h6 {
  font-size: x-small;
}

.container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

@media (max-width: 1366px) {
  .container {
    flex-direction: column;
    gap: 0px;
  }
}

.player-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 100px;
}

@media (max-width: 1366px) {
  .player-container {
    padding: 0px;
  }
}

@media (min-width: 1366px) {
  .player-container-left {
    margin-right: auto;
  }

  .player-container-right {
    margin-left: auto;
  }
}

.x-container, .o-container-1, .o-container-2 {
  display: flex;
  justify-content: center;
}

@media (min-width: 1366px) {
  .o-container-1, o-container-2 {
    display: none;
  }
}

@media (max-width: 1366px) {
  .x-container, .o-container-1, .o-container-2 {
    font-size: medium;
  }
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px;
}

.row {
  display: flex;
}

.box {
  width: 150px;
  height: 150px;
  border: 3px solid purple;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

@media (max-width: 768px) {
  .box {
    width: 100px;
    height: 100px;
  }
}

#new-game-button {
  margin-top: 42px;
}
