* {
  font-size: xx-large;
  color: purple;
}

a, h6 {
  font-size: x-small;
}

.container {
  display: flex;
  justify-content: space-around;
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.letter {
  font-size: xxx-large;
  display: flex;
  justify-content: center;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.row {
  display: flex;
}

.box {
  width: 150px;
  height: 150px;
  border: 3px solid purple;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#new-game-button {
  margin-top: 50px;
}